<h1>Home page</h1>

<a href="/categorias/criarCategoria">Criar categoria</a> <br>
<a href="/listarRegistros">Ver Categorias cadastradas</a> <br>
<br>

<a href="/criarConta">Criar conta</a>
<a href="/login">Fazer login</a>